{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'apple/css/building.css' %}">

    <title>Building</title>
</head>
<body>
    <form method="POST">
        {% csrf_token %}
        {% for i in form %}
        {{ i.label_tag}} {{i}} {{i.errors | striptags }} <br><br>
        {% endfor%}
        <input type="submit" value="Submit" class="btn btn-primary">
        <a href ="{% url "login" %}"> Login</a>
</body>
</html>